@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-family: 'Press Start 2P', cursive; /* Assume you load this font */
    font-size: 1.5rem;
    color: #000;
  }
  
  .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .nav-item {
    margin-left: 10px;
  }
  
  .nav-link, .nav-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: normal;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .nav-button {
    border: none;
  }
  
  .nav-link:hover, .nav-button:hover {
    background-color: darkgray;
  }