.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
    background-color: #f5f5f5;
  }
  
  .reset-password-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .reset-password-title {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
  }
  
  .reset-password-description {
    margin-bottom: 20px;
  }
  
  .reset-password-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .reset-password-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-button:hover {
    background-color: darkgray;
  }
  